
resources/iTorch/.ipynb_checkpoints/2_supervised-checkpoint.ipynb

resources/.ipynb_checkpoints/2_supervised-checkpoint.ipynb

resources/iTorch/test_32x32.t7 copy

resources/iTorch/1_get_started.ipynb

resources/iTorch/2_supervised.ipynb

resources/iTorch/Deep+Learning+Example.ipynb

resources/iTorch/test_32x32.t7

resources/iTorch/Getting+Started.ipynb

resources/iTorch/train_32x32.t7

resources/kaggle-mnist/

itorch_digit_recognizer_cnn.ipynb

input/test_32x32.t7

input/train_32x32.t7

input/train.csv
